trigger:
  branches:
    include:
      - main
      - master

pr:
  branches:
    include:
      - main
      - master

pool:
  vmImage: 'ubuntu-latest'

# ==============================
# Variable Group
# ==============================
variables:
  - group: LambdaTest-Credentials

# ==============================
# Steps
# ==============================
steps:

  - checkout: self
    clean: true

  - task: JavaToolInstaller@0
    displayName: "Install JDK 11"
    inputs:
      versionSpec: '11'
      jdkArchitectureOption: 'x64'
      jdkSourceOption: 'PreInstalled'

 

  - task: Maven@4
    displayName: "Run Appium TestNG Tests on LambdaTest"
    inputs:
      mavenPomFile: 'pom.xml'
      goals: 'clean test'
      javaHomeOption: 'JDKVersion'
      jdkVersionOption: '1.11'
      mavenVersionOption: 'Default'
      publishJUnitResults: true
      testResultsFiles: '**/surefire-reports/*.xml'
    env:
      LT_USERNAME: $(LT_USERNAME)
      LT_ACCESS_KEY: $(LT_ACCESS_KEY)
