trigger:
  branches:
    include:
      - main
      - master
      - fix/appium-tests

pool:
  name: 'Default'

# ==============================
# Variable Group
# ==============================
variables:
  - group: LambdaTest-Credentials

# ==============================
# Steps
# ==============================
steps:

  - checkout: self
    clean: true

  - script: |
      echo Running parallel Android Test
      mvn test -P android-parallel
    displayName: 'Run Android Tests'
    env:
      LT_USERNAME: $(LT_USERNAME)
      LT_ACCESS_KEY: $(LT_ACCESS_KEY)
